html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
a {
  font-weight: 400;
}

body {
  font-family: "Montserrat";
  color: #f3f4f6;
  background: #111827;
  margin: 0;
  font-size: x-large;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.content {
  padding-bottom: 80px;
}

* {
  margin: 0;
  padding: 0;
}

.right {
  float: right !important;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.emphasis-low {
  color: #aab1bf;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  /* Height of the footer */
  background: #28395c;
  padding: 16px;
}
footer a {
  color: inherit;
  text-decoration: none;
  transition: font-size 0.2s ease, font-weight 0.1s ease;
}
footer a:hover {
  font-size: 28px;
  font-weight: 500;
}

button {
  margin: 5px 0;
  padding: 15px 32px;
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-size: x-large;
  border-radius: 5px;
}
button.primary {
  background: #2563eb;
  color: inherit;
}
button.primary:hover, button.primary:focus {
  background-color: #1043b3;
  box-shadow: inset 0px 0px 6px 2px #0d3690;
}
button.danger {
  background: #dc2626;
  color: inherit;
}
button.danger:hover, button.danger:focus {
  background-color: #9c1919;
  box-shadow: inset 0px 0px 6px 2px #7b1414;
}
button.warning {
  background: #ea580c;
  color: white;
}
button.warning:hover, button.warning:focus {
  background-color: #a13d08;
  box-shadow: inset 0px 0px 6px 2px #7d2f06;
}
button.secondary {
  background: #4b5563;
  color: inherit;
}
button.secondary:hover, button.secondary:focus {
  background-color: #2a3037;
  box-shadow: inset 0px 0px 6px 2px #1a1d22;
}
button.icon i {
  margin-right: 2.5px;
  font-size: x-large;
}
button.full {
  width: 100%;
}

input[type=text],
input[type=password],
input[type=email] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  background: #111827;
  color: inherit;
}

.nav {
  background-color: #6b21a8;
  overflow: hidden;
}
.nav .brand {
  font-weight: bold;
}
.nav i {
  margin-right: 2.5px;
  font-size: x-large;
}
.nav a,
.nav span {
  float: left;
  color: inherit;
  text-align: center;
  margin: 12.5px 6.25px;
  padding: 14px;
  text-decoration: none;
  font-size: x-large;
  box-shadow: none;
  transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
  border-radius: 5px;
}
.nav a:hover {
  background-color: #7925bd;
  box-shadow: inset 0px 0px 6px 2px #7223b3;
}

.secondary-nav {
  background-color: #7b26c2;
  overflow: hidden;
  margin-bottom: 15px;
}
.secondary-nav i {
  margin-right: 2.5px;
  font-size: x-large;
}
.secondary-nav a {
  float: left;
  color: inherit;
  text-align: center;
  margin: 12.5px 6.25px;
  padding: 14px;
  text-decoration: none;
  font-size: x-large;
  box-shadow: none;
  transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
  border-radius: 5px;
}
.secondary-nav a:hover {
  background-color: #892cd5;
  box-shadow: inset 0px 0px 6px 2px #8228cc;
}

.alert {
  padding: 16px;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}
.alert.primary {
  background: #2563eb;
}
.alert.danger {
  background: #dc2626;
}
.alert.warning {
  background: #ea580c;
}
.alert.secondary {
  background: #4b5563;
}
.alert.success {
  background: #16a34a;
}

.card {
  background: #192339;
  width: 100%;
  padding: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
