// colors
$text: #f3f4f6;
$text-secondary: darken($text, 25%);
$dark-nav: #6b21a8;
$primary: #2563eb;
$danger: #dc2626;
$warning: #ea580c;
$success: #16a34a;
$secondary: #4b5563;
// color modifiers
$dark-bg: #111827;
$dark-secondary: lighten($dark-bg, 5%);
$dark-footer: lighten($dark-bg, 15%);
$dark-secondary-nav: lighten($dark-nav, 6%);
// other
$footer-height: 80px;
$font-size: 24px;
// mixins
@mixin btn-color($color) {
	background-color: darken($color, 15%);
	box-shadow: inset 0px 0px 6px 2px darken($color, $amount: 22.5%);
}
@mixin navbar-color($color) {
	background-color: lighten($color, $amount: 5%);
	box-shadow: inset 0px 0px 6px 2px lighten($color: $color, $amount: 2.5%);
}
@mixin navbar {
	float: left;
	color: inherit;
	text-align: center;
	margin: 12.5px 6.25px;
	padding: 14px;
	text-decoration: none;
	font-size: x-large;
	box-shadow: none;
	transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
	border-radius: 5px;
}
// boilerplate
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
a {
	font-weight: 400;
}
body {
	font-family: "Montserrat";
	color: $text;
	background: $dark-bg;
	margin: 0;
	font-size: $font-size;
}
// i fucking hate wrappers but i cant figure out how to keep
// the fucking footer at the bottom of the page
.wrapper {
	min-height: 100%;
	position: relative;
}

.content {
	padding-bottom: $footer-height;
}

* {
	margin: 0;
	padding: 0;
}
.right {
	float: right !important;
}

.container {
	max-width: 1200px;
	margin: auto;
}
.emphasis-low {
	color: $text-secondary;
}
.emphasis-lower {
	color: darken($color: $text-secondary, $amount: 15%);
}

.small {
	font-size: calc($font-size - 4px);
}
// elements
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $footer-height; /* Height of the footer */
	background: $dark-footer;
	padding: 16px;
	a {
		color: inherit;
		text-decoration: none;
		transition: font-size 0.2s ease, font-weight 0.1s ease;
		&:hover {
			font-size: 28px;
			font-weight: 500;
		}
	}
}
button {
	margin: 5px 0;
	padding: 15px 32px;
	border: none;
	font-family: inherit;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	font-size: x-large;
	border-radius: 5px;
	&.primary {
		background: $primary;
		color: inherit;
		&:hover,
		&:focus {
			@include btn-color($primary);
		}
	}
	&.danger {
		background: $danger;
		color: inherit;
		&:hover,
		&:focus {
			@include btn-color($danger);
		}
	}
	&.warning {
		background: $warning;
		color: white;
		&:hover,
		&:focus {
			@include btn-color($warning);
		}
	}
	&.secondary {
		background: $secondary;
		color: inherit;
		&:hover,
		&:focus {
			@include btn-color($secondary);
		}
	}
	&.icon {
		i {
			margin-right: 2.5px;
			font-size: x-large;
		}
	}
	&.full {
		width: 100%;
	}
}

input[type="text"],
input[type="password"],
input[type="email"] {
	width: 100%;
	padding: 10px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	font-size: inherit;
	font-family: inherit;
	border: none;
	border-radius: 5px;
	background: $dark-bg;
	color: inherit;
}

.nav {
	background-color: $dark-nav;
	overflow: hidden;

	.brand {
		font-weight: bold;
	}
	i {
		margin-right: 2.5px;
		font-size: x-large;
	}

	a,
	span {
		@include navbar();
	}
	a:hover {
		@include navbar-color($dark-nav);
	}
}
.secondary-nav {
	background-color: $dark-secondary-nav;
	overflow: hidden;
	margin-bottom: 15px;
	i {
		margin-right: 2.5px;
		font-size: x-large;
	}

	a {
		@include navbar();
	}

	a:hover {
		@include navbar-color($dark-secondary-nav);
	}
}

.alert {
	padding: 16px;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	&.primary {
		background: $primary;
	}
	&.danger {
		background: $danger;
	}
	&.warning {
		background: $warning;
	}
	&.secondary {
		background: $secondary;
	}
	&.success {
		background: $success;
	}
}

.card {
	background: $dark-secondary;
	width: 100%;
	padding: 16px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
}
